<!DOCTYPE html>
<html>
  <head>
    <title>100Illusts</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <style>
         @import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
    </style>
    <script type="text/javascript">
       window.faviconURL = "<%= image_url('favicon.png') %>";
       window.homepageURL = "<%= image_url('homepage.png') %>";
       window.logo_blackURL = "<%= image_url('logo_black.png') %>";
       window.logo_mintURL = "<%= image_url('logo_mint.png') %>";
       window.userpicURL = "<%= image_url('userpic.png') %>";
       window.left_arrowURL = "<%= image_url('arrow-left.svg') %>";
       window.right_arrowURL = "<%= image_url('arrow-right.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
