<!DOCTYPE html>
<html>
  <head>
    <title>100Illusts</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <style>
         @import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
    </style>
    <script type="text/javascript">
       window.faviconURL = "<%= image_url('favicon.png') %>";
       window.homepageURL = "<%= image_url('homepage.png') %>";
       window.logo_blackURL = "<%= image_url('logo_black.png') %>";
       window.logo_mintURL = "<%= image_url('logo_mint.png') %>";
       window.userpicURL = "<%= image_url('userpic.png') %>";
       window.left_arrowURL = "<%= image_url('arrow_left.svg') %>";
       window.right_arrowURL = "<%= image_url('arrow_right.svg') %>";
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" 
    integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180668681-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-180668681-1');
    </script>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
